.productLinksSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 48px 16px;
  box-sizing: border-box;
}

.heroProductLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
